<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <!-- calling the header -->
        <%- include('_header');%>
        
        <%- body %>
        
        <!-- calling the footer -->
        <%- include('_footer');%>
    </body>
</html>