<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <!-- calling the header -->
        <%- include('_header');%>
        <h1>
            Codeial / <%= title %>
        </h1>
        <!-- calling the footer -->
        <%- include('_footer');%>
    </body>
</html>